* {
    margin: 0em;
    padding: 0em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: slateblue;
}

body {
    cursor: default;
    background-color: lightpink;
}

.title {
    text-align: center;
    margin-top: 0.3em;
    font-size: 4em;
}

.numberCounterDiv {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.counterNumber {
    font-size: 6em;
}

.minusIconDiv {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    background-color: greenyellow;
    padding: 1em;
    border-radius: 2em;
    cursor: pointer
}

.minusIconDiv:hover {
    background-color: mediumspringgreen;
}

.fas.fa-minus {
    font-size: 3em;
    cursor: pointer;
    color: slateblue;
}

.fas.fa-minus:hover {
    color: greenyellow;
}

.plusIconDiv {
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
    background-color: greenyellow;
    padding: 1em;
    border-radius: 2em;
    cursor: pointer
}

.plusIconDiv:hover {
    background-color: mediumspringgreen;
}

.fas.fa-plus {
    font-size: 3em;
    cursor: pointer;
    color: slateblue;
}

.fas.fa-plus:hover {
    color: greenyellow;
}

.restartIconDiv {
    position: absolute;
    top: 67%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: greenyellow;
    padding: 1em;
    border-radius: 2em;
    cursor: pointer
}

.restartIconDiv:hover {
    background-color: mediumspringgreen;
}

.fas.fa-redo-alt {
    font-size: 3em;
    cursor: pointer;
    color: slateblue;
}

.fas.fa-redo-alt:hover {
    color: greenyellow;
}
