* {
    margin: 0em;
    padding: 0em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: slateblue;
}

body {
    cursor: default;
    background-color: lightpink;
    height: 100%;
    position: relative;
    padding-bottom: 9.2em;
    min-height: 25em;
}

.headerBg {
    background-color: slateblue;
    height: 3em;
    width: 100%;
}

.title {
    text-align: center;
    margin-top: 0.3em;
    font-size: 4em;
}

.footerBg {
    background-color: slateblue;
    height: 3em;
    position: absolute;
    bottom: 0;
    width: 100%;
}

/***************************** minus, number, plus*/

.minusNumberPlusDiv {
    text-align: center;
    margin-top: 7em;
}

.minusNumberPlusDiv li {
    display: inline;
}

/***************************** minus*/

.fas.fa-minus {
    font-size: 3em;
    cursor: pointer;
    color: slateblue;
    margin-right: 1em;
    background-color: greenyellow;
    padding: 0.1em 0.2em;
    border-radius: 0.5em;
}

.fas.fa-minus:hover {
    color: mediumspringgreen;
    background-color: slateblue;
}

/***************************** Counter Number */

.counterNumber {
    font-size: 5em;
    font-weight: 900;
}

/***************************** plus*/

.fas.fa-plus {
    font-size: 3em;
    cursor: pointer;
    color: slateblue;
    margin-left: 1em;
    background-color: greenyellow;
    padding: 0.1em 0.2em;
    border-radius: 0.5em;
}

.fas.fa-plus:hover {
    color: mediumspringgreen;
    background-color: slateblue;
}

/***************************** restart*/

.restartIconDiv {
    text-align: center;
    margin-top: 2em;
}

.fas.fa-redo-alt {
    font-size: 3em;
    cursor: pointer;
    color: slateblue;
    background-color: greenyellow;
    padding: 0.2em;
    border-radius: 0.5em;
}

.fas.fa-redo-alt:hover {
    color: mediumspringgreen;
    background-color: slateblue;
}

/***************************** media queries*****************************/

@media (min-width: 460px) {
    body {
        padding-bottom: 13.9em;
    }
}

@media (min-width: 576px) {
    .title {
        font-size: 4.5em;
        margin-top: 0.5em;
    }
    body {
        padding-bottom: 7.1em;
    }
    /***************************** minus, plus, restart*/
    .fas.fa-minus, .fas.fa-plus, .fas.fa-redo-alt {
        font-size: 5em;
    }
    /***************************** counter number*/
    .counterNumber {
        font-size: 7em;
    }
}

@media (min-width: 768px) {
    .title {
        font-size: 6em;
        margin-top: 0em;
    }
    body {
        padding-bottom: 5.8em;
    }
    /***************************** minus, number, plus*/
    .minusNumberPlusDiv {
        margin-top: 3em;
    }
    /***************************** restart*/
    .restartIconDiv {
        margin-top: 1.5em;
    }
    /***************************** minus, plus, restart*/
    .fas.fa-minus, .fas.fa-plus, .fas.fa-redo-alt {
        font-size: 7em;
    }
    /***************************** counter number*/
    .counterNumber {
        font-size: 10em;
    }
}

@media (min-width: 992px) {
    .title {
        font-size: 7em;
    }
    body {
        padding-bottom: 7.2em;
    }
    /***************************** minus, plus, restart*/
    .fas.fa-minus, .fas.fa-plus, .fas.fa-redo-alt {
        font-size: 6em;
    }
    /***************************** counter number*/
    .counterNumber {
        font-size: 9em;
    }
}

@media (min-width: 1200px) {
    .title {
        font-size: 10em;
        margin-top: 0.2em;
    }
    body {
        padding-bottom: 10em;
    }
    /***************************** minus, number, plus*/
    .minusNumberPlusDiv {
        margin-top: 1em;
    }
    /***************************** minus, plus, restart*/
    .fas.fa-minus, .fas.fa-plus, .fas.fa-redo-alt {
        font-size: 10em;
    }
    /***************************** counter number*/
    .counterNumber {
        font-size: 12em;
    }
}

@media (min-width: 1366px) {
    .title {
        font-size: 8em;
        margin-top: 0em;
    }
    body {
        padding-bottom: 9em;
    }
    /***************************** minus, number, plus*/
    .minusNumberPlusDiv {
        margin-top: 5em;
    }
    /***************************** minus, plus, restart*/
    .fas.fa-minus, .fas.fa-plus, .fas.fa-redo-alt {
        font-size: 7em;
    }
    /***************************** counter number*/
    .counterNumber {
        font-size: 9em;
    }
}